// Define font faces
@font-face {
    font-family: 'Avner-reg';
    src: url('../assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Avner-bold';
    src: url('../assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Avner-demi';
    src: url('../assets/fonts/AvenirNextLTPro-Demi.otf') format('opentype');
  }
  