.header {
    text-align: center;
    background-color: #323232;
    padding: 1rem;
    background-size: cover;
    background-position: center;
    
    &__responsive-image {
      width: 10rem; // Example size, adjust as needed
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto; // Centers the image if the container is wider
    }
  }
  