.navigator {
    &__list {
      display: flex;
      text-align: center;
      padding: 1.5rem;
      background-color: #323232;
      list-style: none;
      align-items: center;
      font-family: 'Avner-reg';
      justify-content: space-between;
      margin: 0;
    }
    
    &__item {
      flex: 1; // Makes each item take equal space
      text-align: center; // Center text within each item
    }
    
    &__link {
      display: block;
      color: white;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: normal;
      opacity: 0.5;
      padding: 0.5rem;
      transition: font-weight 0.3s ease, border-bottom 0.3s ease;
      border-bottom: 3px solid transparent;
      margin-bottom: 0;
      
      &:hover,
      &:focus { // Styles for hover and focus
        font-weight: bold;
        border-bottom: 3px solid white;
        opacity: 1;
      }
    }
  }
  