
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$mobile-breakpoint: 767px;
$BandSite-Black: #323232;
$Silver: #AFAFAF;
$White: #FFFFFF;
$BandSite-DarkBlack: #000000;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;