
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$mobile-breakpoint: 767px;
$BandSite-Black: #323232;
$Silver: #AFAFAF;
$White: #FFFFFF;
$BandSite-DarkBlack: #000000;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;

// Defining font families per style guide
$font-family-regular: 'Avenir-reg', sans-serif;
$font-family-demi: 'Avenir-demi', sans-serif;
$font-family-bold: 'Avenir-bold', sans-serif;