@use './partials/mixins' as *;
@use './partials/variables' as *;

@font-face {
  font-family: 'Avner-reg';
  src: url('../assets/fonts/AvenirNextLTPro-Regular.otf') format("opentype");

}

@font-face {
  font-family: 'Avner-bold';
  src: url('../assets/fonts/AvenirNextLTPro-Bold.otf') format("opentype");

}

@font-face {
  font-family: 'Avner-demi';
  src: url('../assets/fonts/AvenirNextLTPro-Demi.otf') format("opentype");
}

* {
  margin: 0;
  // padding: 0;
  box-sizing: border-box;
  max-width: 100%;

  height: auto;


  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;

    height: auto;
  }
}

.sectionHeader {
  @include mobile {
    font-family: 'Avner-bold';
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }

  @include media(tablet, desktop) {
    font-family: 'Avner-reg';
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}

.avatar {
  border-radius: 50%;

  @include mobile {
    height: 36px;
    width: 36px;
  }

  @include media(desktop, tablet) {
    height: 48px;
    width: 48px;
  }
}

.buttonText {
  font-family: 'Avner-bold';

  @include mobile {
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
  }

  @include media(tablet, desktop) {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
}

.labelText {
  font-family: 'Avner-bold';

  @include mobile {
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
  }

  @include media(tablet, desktop) {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
}

/* HEADER SECTION  */
.header {

  @include mobile {

    text-align: center;
    background-color: $BandSite-Black;
    padding: 1rem;
    background-size: cover;
    background-position: center;

    img {
      width: 10rem;
    }
  }

  @include desktop {
    display: none;
  }

  @include tablet {
    display: none;
  }
}


/* NAVIGATION SECTION  */

.navigator .navigator__list {
  @include mobile {
    display: flex;
    text-align: center;
    padding: 1.5rem 1.5rem 0rem;
    background-color: $BandSite-Black;
    list-style: none;
    display: flex;
    padding: 0rem;
    align-items: center;
    font-family: 'Avner-reg';
    justify-content: space-between;

    .mobile_logo_img {
      display: none;
    }
  }

  @include tablet {
    list-style-type: none;
    margin: 0;
    display: flex;
    // padding: 2rem;
    background-color: $BandSite-Black;
    height: 90px;
    align-items: center;
  }
}

.navigator__item {
  height: 100%;
  display: flex;
  justify-content: center;

  @include mobile {
    align-items: center;
    flex: 1;
  }

  @include tablet {
    margin-right: 1rem;

    img {
      padding: 2rem 4rem;
      width: 18.75rem;
    }
  }
}

.navigator__link {
  height: 100%;
  display: flex;
  align-items: center;

  @include mobile {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: normal;
    opacity: 0.5;
    padding: 0.5rem;
    transition: font-weight 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 3px solid transparent;
    margin-bottom: 0rem;
  }

  @include tablet {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: normal;
    opacity: 0.5;
    margin: 0 1rem;
    font-family: 'Avner-reg';
  }

  &:hover,
  &:focus,
  &.active {
    font-weight: bold;
    border-bottom: 3px solid white;
    opacity: 1;
  }
}

/* CONTENT SECTION  */

.content__image {
  position: relative;
  width: 100%;

  display: block;
  opacity: 0.90;
  background-color: $BandSite-DarkBlack;
  /* Semi-transparent black */
}

.content__image-overlayplayer__bandname {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Avner-reg';
}

.content__image-overlayplayer__songtitle {
  @include mobile {
    line-height: 3rem;
  }

  @include tablet {
    line-height: 6rem;
  }

  @include desktop {
    line-height: 6rem;
  }
}

.content__image-overlayplayer {
  @include mobile {
    position: absolute;
    top: 1rem;
    left: 1rem;
    // transform: translate(-50%, -50%);
    color: white;
    font-family: 'Avner-demi';
    padding-left: 0.5rem;
    width: 90%;
    height: 90%;
    z-index: 1;
    pointer-events: none;
    font-size: 2.5rem;
    line-height: 2.75rem;
    font-weight: 43.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  @include tablet {
    position: absolute;
    top: 1rem;
    left: 1rem;
    // transform: translate(-50%, -50%);
    color: white;
    font-family: "Avner-demi";
    padding-left: 0.5rem;
    width: 90%;
    height: 90%;
    z-index: 1;
    pointer-events: none;
    font-size: 3.5rem;
    line-height: 2.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  @include desktop {
    position: absolute;
    top: 1rem;
    left: 1rem;
    // transform: translate(-50%, -50%);
    color: white;
    font-family: "Avner-demi";
    padding-left: 0.5rem;
    width: 90%;
    height: 90%;
    z-index: 1;
    pointer-events: none;
    font-size: 5.5rem;
    line-height: 2.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.content__image-overlaytext {

  @include mobile {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Avner-demi';
    width: 80%;
    z-index: 1;
    pointer-events: none;
    font-size: 2.5rem;
    line-height: 2.75rem;
    font-weight: 700;
  }

  @include tablet {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Avner-demi";
    padding-left: 0.5rem;
    width: 80%;
    z-index: 1;
    pointer-events: none;
    font-size: 3.5rem;
    line-height: 2.75rem;
    font-weight: 700;
  }

  @include desktop {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Avner-demi";
    padding-left: 0.5rem;
    width: 80%;
    z-index: 1;
    pointer-events: none;
    font-size: 5.5rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}

.content__description {
  position: relative;
  font-size: 1.5rem;
  padding: 1.5rem;
  font-family: 'Avner-demi';

  @include desktop {
    .band_image {
      text-align: center;

      img {
        width: 75%;
      }
    }
  }
}

.content__description--title {
  @include mobile { 
    padding: 1rem 0rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 43.75rem;
  }

  @include desktop {
    padding: 2rem 5%;
    font-size: 3.25rem;
    line-height: 2.75rem;
  }

  
}

.content__description--cite {
  padding: 1rem 0rem;
  line-height: 1.6;
  font-style: normal;
  margin: 1rem 0;
}

.content__description--quote {

  @include mobile {
    font-family: 'Avner-demi';
    padding: 1rem 0rem;
    line-height: 1.6;
    margin: 1rem 0;
  }

  @include desktop {
    font-family: "Avner-demi";
    // padding: 1rem 54rem 1rem 18rem;
    line-height: 1.6;
    margin: 1rem 0;
    padding: 0 12%;

    p {
      margin-top: 1rem;

      cite {
        font-style: normal;
        font-family: "Avner-reg";
      }
    }
  }
}

.content__description--text {

  @include mobile {
    padding: 1rem 0rem;
  }

  @include desktop {
    padding: 2rem 12%;

    .content_desc_band {
      display: flex;

      p {
        padding: 0 0.5rem;
      }
    }
  }

  .bees_knees_p {
    font-size: 3rem;
    font-weight: bold;
  }

  line-height: 1.4;
  font-family: 'Avner-reg';
}

.gallery-section {
  position: relative;
  background-color: $Alabaster;

  @include desktop {
    padding: 0rem 0rem;
  }
}

.gallery-section__photos {
  align-content: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  .image_wrapper {
    img {
      filter: grayscale(100%);
      transition: filter 0.3s ease;
    }

    img:hover {
      filter: grayscale(0%);
    }
  }

  @include desktop {
    .image_wrapper {

      // display: flex;
      img {
        padding: 0.5rem;
        width: 30%;
      }

      text-align: center;
    }
  }
}

.gallery-section__title {
  @extend .sectionHeader;
  padding: 1.5rem;

  @include desktop {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 5%;
  }
}

.gallery-photo {
  padding: 1rem 0rem;
}


.comments-section {
  position: relative;
  background-color: $White;
  padding: 1.5rem;

  @include desktop {
    padding: 2rem 0rem;
    margin: 0 6%;
  }
}

.comments-section__content {
  font-size: 1.1rem;

  hr {
    margin: 1.5rem;
  }
}

.comments-section__content__card {
  display: flex;
  margin: 1.5rem 0;
  border-top: 1px solid $Mercury;
  padding-top: 1rem;

  &:last-child {
    border-bottom: 1px solid $Mercury;
    padding-bottom: 1rem;
  }

  &:hover {
    .comments-section__content__info__additionalbuttons__deletebutton {
      display: block;
    }
  }
}

.comments-section__content__info {
  margin-left: 1rem;
  width: 100%;
}

.comments-section__content__info__header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.comments-section__content__info__comment {
  font-family: 'Avner-reg';
}

.comments-section__content__info__username {
  font-family: 'Avner-demi';
}

.comments-section__content__info__timestamp {
  font-family: 'Avner-reg';
  color: $Silver;
}

.comments-section__content__profile {
  span {
    display: block;
    background-color: $Mercury;
    @extend .avatar;
  }
}

.comments-section__form {
  display: flex;
  margin-top: 1rem;
}

.comments-section__form__content {
  width: 100%;
  margin-left: 1.5rem;
}

.comments-section__form,
.comments-section__content {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.comments-section__form__field {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  input,
  textarea {
    padding: 0.7rem;
    border-radius: 5px;
    border: 1px solid $Mercury;
    background: $Alabaster;
    font-size: 1rem;
    font-family: 'Avner-reg';
  }

  label {
    font-size: 0.8rem;
    font-family: 'Avner-reg';
    color: $Silver;
    margin: 0.3rem 0;
    font-weight: 600;
  }
}

.comments-section__form__profile__image {
  background: url(../assets/images/Mohan-muruge.jpg);
  background-size: cover;
  margin-top: 3rem;
  @extend .avatar;
}

.comments-section__form__button {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  background: $BandSite-Black;
  color: $White;
  font-family: 'Avner-reg';
  font-size: 1.3rem;
  font-weight: 600;

  @include tablet {
    max-width: 200px;
    float: right;
  }

  @include desktop {
    max-width: 200px;
    float: right;
  }
}

.comments-section__title {
  @extend .sectionHeader;
}

.comments-section__content__info__additionalbuttons {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.comments-section__content__info__additionalbuttons__likes {
  color: $Silver;
  cursor: pointer;
}

.comments-section__content__info__additionalbuttons__deletebutton {
  border: none;
  cursor: pointer;
  background: $White;
  color: red;
  display: none;
}

.footer {
  position: relative;
  font-family: 'Avner-reg';
  bottom: 0;
  width: 100%;
  background-color: $BandSite-Black;
  color: white;
  padding: 1rem 2rem;
  text-align: left;

  .footer_mobile {
    @include desktop {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }
}

.footer__email {
  color: white;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;

    color: white;

  }
}

.footer__title {
  font-family: 'Avner-demi';
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 43.75rem;
  padding: 1rem 0rem;
}

.footer__title--slim {
  font-family: 'Avner-reg';
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 43.75rem;
  padding: 0.5rem 0rem;
}

.footer__subheading {
  font-family: 'Avner-demi';
  font-size: 1.5rem;
  line-height: 2.75rem;
  font-weight: 43.75rem;
  padding: 0.5rem 0rem;
}

.footer__subheading--info {
  font-family: 'Avner-reg';
  font-size: 0.875rem;
  line-height: 2.75rem;
  font-weight: 43.75rem;
  padding: 0.5rem 0rem;
}

.socials_logos {
  list-style-type: none;
  padding: 1rem 0rem;

  li {
    display: inline-flex;
    margin-right: 2.5rem;
  }

  .facebook {
    width: 1.3rem;
  }

  .instagram {
    width: 2rem;
  }

  .twitter {
    width: 2.5rem
  }
}


.footer_desktop {
  @include mobile {
    display: none;
  }

  @include tablet {
    display: flex;

    .git_text {
      font-size: 3.25rem;
    }

    .section_footer {
      padding: 2rem;

      .ele_2 {
        padding-top: 2rem;
        font-weight: 300;
      }

      .ele_3 {
        padding-top: 2rem;
      }

      .ele_4 {
        padding-top: 2rem;
      }

      .ele_5 {
        padding-top: 2rem;
      }
    }

  }

  @include desktop {
    display: flex;

    .git_text {
      font-size: 3.25rem;
    }

    .section_footer {
      padding: 2rem;

      .ele_2 {
        padding-top: 2rem;
        font-weight: 500;
      }

      .ele_3 {
        padding-top: 2rem;
      }

      .ele_4 {
        padding-top: 2rem;
      }
      .ele_5 {
        padding-top: 2rem;
      }
    }

  }

}

.footer_logo {
  @include desktop {
    padding: 2rem 0 0 2rem;
  }

  @include tablet {
    padding: 2 rem 0 0 2rem;
  }

  @include mobile {
    // display: none;
  }
}

.copy-write-desktop {
  @include desktop {
    padding: 2rem;
  }

  @include tablet {
    padding: 2rem;
  }

  @include mobile {
    display: none;
  }
}