@font-face {
  font-family: "Avner-reg";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avner-bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Avner-demi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
}
* {
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}
*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  .sectionHeader, .comments-section__title, .gallery-section__title {
    font-family: "Avner-bold";
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .sectionHeader, .comments-section__title, .gallery-section__title {
    font-family: "Avner-reg";
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1024px) {
  .sectionHeader, .comments-section__title, .gallery-section__title {
    font-family: "Avner-reg";
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}

.avatar, .comments-section__form__profile__image, .comments-section__content__profile span {
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .avatar, .comments-section__form__profile__image, .comments-section__content__profile span {
    height: 36px;
    width: 36px;
  }
}
@media screen and (min-width: 1024px) {
  .avatar, .comments-section__form__profile__image, .comments-section__content__profile span {
    height: 48px;
    width: 48px;
  }
}
@media screen and (min-width: 768px) {
  .avatar, .comments-section__form__profile__image, .comments-section__content__profile span {
    height: 48px;
    width: 48px;
  }
}

.buttonText {
  font-family: "Avner-bold";
}
@media screen and (max-width: 767px) {
  .buttonText {
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .buttonText {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1024px) {
  .buttonText {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
}

.labelText {
  font-family: "Avner-bold";
}
@media screen and (max-width: 767px) {
  .labelText {
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .labelText {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1024px) {
  .labelText {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
}

/* HEADER SECTION  */
@media screen and (max-width: 767px) {
  .header {
    text-align: center;
    background-color: #323232;
    padding: 1rem;
    background-size: cover;
    background-position: center;
  }
  .header img {
    width: 10rem;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header {
    display: none;
  }
}

/* NAVIGATION SECTION  */
@media screen and (max-width: 767px) {
  .navigator .navigator__list {
    display: flex;
    text-align: center;
    padding: 1.5rem 1.5rem 0rem;
    background-color: #323232;
    list-style: none;
    display: flex;
    padding: 0rem;
    align-items: center;
    font-family: "Avner-reg";
    justify-content: space-between;
  }
  .navigator .navigator__list .mobile_logo_img {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigator .navigator__list {
    list-style-type: none;
    margin: 0;
    display: flex;
    background-color: #323232;
    height: 90px;
    align-items: center;
  }
}

.navigator__item {
  height: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .navigator__item {
    align-items: center;
    flex: 1;
  }
}
@media screen and (min-width: 768px) {
  .navigator__item {
    margin-right: 1rem;
  }
  .navigator__item img {
    padding: 2rem 4rem;
    width: 18.75rem;
  }
}

.navigator__link {
  height: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .navigator__link {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: normal;
    opacity: 0.5;
    padding: 0.5rem;
    transition: font-weight 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 3px solid transparent;
    margin-bottom: 0rem;
  }
}
@media screen and (min-width: 768px) {
  .navigator__link {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: normal;
    opacity: 0.5;
    margin: 0 1rem;
    font-family: "Avner-reg";
  }
}
.navigator__link:hover, .navigator__link:focus, .navigator__link.active {
  font-weight: bold;
  border-bottom: 3px solid white;
  opacity: 1;
}

/* CONTENT SECTION  */
.content__image {
  position: relative;
  width: 100%;
  display: block;
  opacity: 0.9;
  background-color: #000000;
  /* Semi-transparent black */
}

.content__image-overlayplayer__bandname {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Avner-reg";
}

@media screen and (max-width: 767px) {
  .content__image-overlayplayer__songtitle {
    line-height: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .content__image-overlayplayer__songtitle {
    line-height: 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .content__image-overlayplayer__songtitle {
    line-height: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .content__image-overlayplayer {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: white;
    font-family: "Avner-demi";
    padding-left: 0.5rem;
    width: 90%;
    height: 90%;
    z-index: 1;
    pointer-events: none;
    font-size: 2.5rem;
    line-height: 2.75rem;
    font-weight: 43.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 768px) {
  .content__image-overlayplayer {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: white;
    font-family: "Avner-demi";
    padding-left: 0.5rem;
    width: 90%;
    height: 90%;
    z-index: 1;
    pointer-events: none;
    font-size: 3.5rem;
    line-height: 2.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1024px) {
  .content__image-overlayplayer {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: white;
    font-family: "Avner-demi";
    padding-left: 0.5rem;
    width: 90%;
    height: 90%;
    z-index: 1;
    pointer-events: none;
    font-size: 5.5rem;
    line-height: 2.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 767px) {
  .content__image-overlaytext {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Avner-demi";
    width: 80%;
    z-index: 1;
    pointer-events: none;
    font-size: 2.5rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .content__image-overlaytext {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Avner-demi";
    padding-left: 0.5rem;
    width: 80%;
    z-index: 1;
    pointer-events: none;
    font-size: 3.5rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1024px) {
  .content__image-overlaytext {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Avner-demi";
    padding-left: 0.5rem;
    width: 80%;
    z-index: 1;
    pointer-events: none;
    font-size: 5.5rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}

.content__description {
  position: relative;
  font-size: 1.5rem;
  padding: 1.5rem;
  font-family: "Avner-demi";
}
@media screen and (min-width: 1024px) {
  .content__description .band_image {
    text-align: center;
  }
  .content__description .band_image img {
    width: 75%;
  }
}

@media screen and (max-width: 767px) {
  .content__description--title {
    padding: 1rem 0rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 43.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .content__description--title {
    padding: 2rem 5%;
    font-size: 3.25rem;
    line-height: 2.75rem;
  }
}

.content__description--cite {
  padding: 1rem 0rem;
  line-height: 1.6;
  font-style: normal;
  margin: 1rem 0;
}

@media screen and (max-width: 767px) {
  .content__description--quote {
    font-family: "Avner-demi";
    padding: 1rem 0rem;
    line-height: 1.6;
    margin: 1rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .content__description--quote {
    font-family: "Avner-demi";
    line-height: 1.6;
    margin: 1rem 0;
    padding: 0 12%;
  }
  .content__description--quote p {
    margin-top: 1rem;
  }
  .content__description--quote p cite {
    font-style: normal;
    font-family: "Avner-reg";
  }
}

.content__description--text {
  line-height: 1.4;
  font-family: "Avner-reg";
}
@media screen and (max-width: 767px) {
  .content__description--text {
    padding: 1rem 0rem;
  }
}
@media screen and (min-width: 1024px) {
  .content__description--text {
    padding: 2rem 12%;
  }
  .content__description--text .content_desc_band {
    display: flex;
  }
  .content__description--text .content_desc_band p {
    padding: 0 0.5rem;
  }
}
.content__description--text .bees_knees_p {
  font-size: 3rem;
  font-weight: bold;
}

.gallery-section {
  position: relative;
  background-color: #FAFAFA;
}
@media screen and (min-width: 1024px) {
  .gallery-section {
    padding: 0rem 0rem;
  }
}

.gallery-section__photos {
  align-content: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.gallery-section__photos .image_wrapper img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
.gallery-section__photos .image_wrapper img:hover {
  filter: grayscale(0%);
}
@media screen and (min-width: 1024px) {
  .gallery-section__photos .image_wrapper {
    text-align: center;
  }
  .gallery-section__photos .image_wrapper img {
    padding: 0.5rem;
    width: 30%;
  }
}

.gallery-section__title {
  padding: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .gallery-section__title {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 5%;
  }
}

.gallery-photo {
  padding: 1rem 0rem;
}

.comments-section {
  position: relative;
  background-color: #FFFFFF;
  padding: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .comments-section {
    padding: 2rem 0rem;
    margin: 0 6%;
  }
}

.comments-section__content {
  font-size: 1.1rem;
}
.comments-section__content hr {
  margin: 1.5rem;
}

.comments-section__content__card {
  display: flex;
  margin: 1.5rem 0;
  border-top: 1px solid #E1E1E1;
  padding-top: 1rem;
}
.comments-section__content__card:last-child {
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 1rem;
}
.comments-section__content__card:hover .comments-section__content__info__additionalbuttons__deletebutton {
  display: block;
}

.comments-section__content__info {
  margin-left: 1rem;
  width: 100%;
}

.comments-section__content__info__header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.comments-section__content__info__comment {
  font-family: "Avner-reg";
}

.comments-section__content__info__username {
  font-family: "Avner-demi";
}

.comments-section__content__info__timestamp {
  font-family: "Avner-reg";
  color: #AFAFAF;
}

.comments-section__content__profile span {
  display: block;
  background-color: #E1E1E1;
}

.comments-section__form {
  display: flex;
  margin-top: 1rem;
}

.comments-section__form__content {
  width: 100%;
  margin-left: 1.5rem;
}

.comments-section__form,
.comments-section__content {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.comments-section__form__field {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.comments-section__form__field input,
.comments-section__form__field textarea {
  padding: 0.7rem;
  border-radius: 5px;
  border: 1px solid #E1E1E1;
  background: #FAFAFA;
  font-size: 1rem;
  font-family: "Avner-reg";
}
.comments-section__form__field label {
  font-size: 0.8rem;
  font-family: "Avner-reg";
  color: #AFAFAF;
  margin: 0.3rem 0;
  font-weight: 600;
}

.comments-section__form__profile__image {
  background: url(../assets/images/Mohan-muruge.jpg);
  background-size: cover;
  margin-top: 3rem;
}

.comments-section__form__button {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  background: #323232;
  color: #FFFFFF;
  font-family: "Avner-reg";
  font-size: 1.3rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .comments-section__form__button {
    max-width: 200px;
    float: right;
  }
}
@media screen and (min-width: 1024px) {
  .comments-section__form__button {
    max-width: 200px;
    float: right;
  }
}

.comments-section__content__info__additionalbuttons {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.comments-section__content__info__additionalbuttons__likes {
  color: #AFAFAF;
  cursor: pointer;
}

.comments-section__content__info__additionalbuttons__deletebutton {
  border: none;
  cursor: pointer;
  background: #FFFFFF;
  color: red;
  display: none;
}

.footer {
  position: relative;
  font-family: "Avner-reg";
  bottom: 0;
  width: 100%;
  background-color: #323232;
  color: white;
  padding: 1rem 2rem;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .footer .footer_mobile {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .footer .footer_mobile {
    display: none;
  }
}

.footer__email {
  color: white;
  text-decoration: none;
}
.footer__email:hover, .footer__email:focus {
  text-decoration: none;
  color: white;
}

.footer__title {
  font-family: "Avner-demi";
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 43.75rem;
  padding: 1rem 0rem;
}

.footer__title--slim {
  font-family: "Avner-reg";
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 43.75rem;
  padding: 0.5rem 0rem;
}

.footer__subheading {
  font-family: "Avner-demi";
  font-size: 1.5rem;
  line-height: 2.75rem;
  font-weight: 43.75rem;
  padding: 0.5rem 0rem;
}

.footer__subheading--info {
  font-family: "Avner-reg";
  font-size: 0.875rem;
  line-height: 2.75rem;
  font-weight: 43.75rem;
  padding: 0.5rem 0rem;
}

.socials_logos {
  list-style-type: none;
  padding: 1rem 0rem;
}
.socials_logos li {
  display: inline-flex;
  margin-right: 2.5rem;
}
.socials_logos .facebook {
  width: 1.3rem;
}
.socials_logos .instagram {
  width: 2rem;
}
.socials_logos .twitter {
  width: 2.5rem;
}

@media screen and (max-width: 767px) {
  .footer_desktop {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .footer_desktop {
    display: flex;
  }
  .footer_desktop .git_text {
    font-size: 3.25rem;
  }
  .footer_desktop .section_footer {
    padding: 2rem;
  }
  .footer_desktop .section_footer .ele_2 {
    padding-top: 2rem;
    font-weight: bold;
  }
  .footer_desktop .section_footer .ele_3 {
    padding-top: 2rem;
  }
  .footer_desktop .section_footer .ele_4 {
    padding-top: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer_desktop {
    display: flex;
  }
  .footer_desktop .git_text {
    font-size: 3.25rem;
  }
  .footer_desktop .section_footer {
    padding: 2rem;
  }
  .footer_desktop .section_footer .ele_2 {
    padding-top: 2rem;
    font-weight: bold;
  }
  .footer_desktop .section_footer .ele_3 {
    padding-top: 2rem;
  }
  .footer_desktop .section_footer .ele_4 {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .footer_logo {
    padding: 2rem 0 0 2rem;
  }
}
@media screen and (min-width: 768px) {
  .footer_logo {
    padding: 2 rem 0 0 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .copy-write-desktop {
    padding: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .copy-write-desktop {
    padding: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .copy-write-desktop {
    display: none;
  }
}

/*# sourceMappingURL=bio.css.map */
