@font-face {
  font-family: 'Avner-reg';
  src: url('../assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype'); /* Path to your font file */
}

@font-face {
  font-family: 'Avner-bold';
  src: url('../assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype'); /* Path to your font file */
}

@font-face {
  font-family: 'Avner-demi';
  src: url('../assets/fonts/AvenirNextLTPro-Demi.otf') format('opentype'); /* Path to your font file */
}

  /* HEADER SECTION  */

.header {
  text-align: center;
  background-color: #323232;
  padding: 1rem ;
  background-size: cover; /* or 'contain' depending on the desired effect */
  background-position: center;

}

/* .header__responsive-image {
  max-width: 100%; 
  height: auto; 
  display:block; 
  align-content: center;
} */

  /* NAVIGATION SECTION  */

.navigator .navigator__list {
  display:flex;
  text-align: center;
  padding: 1.5rem 1.5rem 0rem;
  background-color: #323232;
  list-style: none; 
  display: flex; 
  padding: 0rem; 
  align-items: center;
  font-family: 'Avner-demi';
  justify-content: space-between;
}

.navigator__item {
  align-items: center;
  flex:1;
}

.navigator__link {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: normal; 
  padding: 0.5rem;
  transition: font-weight 0.3s ease, border-bottom 0.3s ease; 
  border-bottom: 3px solid transparent; 
  margin-bottom: 0rem;
}

.navigator__link:hover,
.navigator__link:focus { /* Styles when hovered or focused for accessibility */
  font-weight: bold; /* Makes the text bold */
  border-bottom: 3px solid white; /* Visible line under the text */
}

  /* CONTENT SECTION  */

.content__image {
  position: relative;
  width: 100%; /* Set the width as per your layout requirement */
  display: block;
  opacity: 0.85;  
  background-color: rgba(0, 0, 0, 1); /* Semi-transparent black */
  /* background-color: rgba(0, 0, 0, 1);  */

}

.content__image-overlaytext {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for the height and width of the element itself */
  color: white;
  font-size: 2rem;
  font-family: 'Avner-demi';
  padding-left: 0.5rem; 
  width: 80%; /* Adjust width as needed, or remove if you want the text width to be auto */
  z-index: 1;
  pointer-events: none; /* Ensures clicks go through the overlay */
}

.content__description{
  position: relative;
  /* text-align: center; */
  font-size: 1.5rem; /* Large font size for the title */
  padding: 1.5rem;
  /* margin-bottom: 2rem; */
}

.content__description--quote{
  font-family: 'Avner-demi';
  padding: 1rem;

}

.content__description--text{
  margin-bottom: 1rem;
  font-family: 'Avner-reg';

}

.gallery-section{
  position: relative;
  background-color: lightgray;
}

.gallery-section__photos {
  align-content: center; 
  margin-left: 1.5rem;
  margin-right: 1.5rem;

}
gallery-photo{
  margin-bottom: 2rem;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #323232;
  color: white;
  padding: 2rem 1rem;
  text-align: left;
}
.socials_logos {
  list-style-type: none;
  padding: 15px 0px;
}

.socials_logos li {
  display: inline-flex;
  margin-right: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;  /* This ensures all images are bound within their parent elements */
  height: auto;  /* Maintain aspect ratio */
}
/* 
css for mobile devices
*/
@media only screen and (max-width: 768px) {
  /* .header {
    text-align: center;
    background-color: #323232;
    padding: 2rem 2rem;
  } */

  /* .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #323232;
    color: white;
    padding: 2rem 1rem;
    text-align: left;
  }
  
  
  .socials_logos {
    list-style-type: none;
    padding: 15px 0px;
  }
  
  .socials_logos li {
    display: inline-flex;
    margin-right: 10px;
  } */
}



