@font-face {
  font-family: 'Avner-reg';
  src: url('../assets/fonts/AvenirNextLTPro-Regular.otf') format("opentype");

}

@font-face {
  font-family: 'Avner-bold';
  src: url('../assets/fonts/AvenirNextLTPro-Bold.otf') format("opentype");

}

@font-face {
  font-family: 'Avner-demi';
  src: url('../assets/fonts/AvenirNextLTPro-Demi.otf') format("opentype");
}

/* HEADER SECTION  */

.header {
  text-align: center;
  background-color: #323232;
  padding: 1rem;
  background-size: cover;

  background-position: center;

  img {
    width: 10rem;
  }
}


/* NAVIGATION SECTION  */

.navigator .navigator__list {
  display: flex;
  text-align: center;
  padding: 1.5rem 1.5rem 0rem;
  background-color: #323232;
  list-style: none;
  display: flex;
  padding: 0rem;
  align-items: center;
  font-family: 'Avner-reg';
  justify-content: space-between;
}

.navigator__item {
  align-items: center;
  flex: 1;
}

.navigator__link {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: normal;
  opacity: 0.5;
  padding: 0.5rem;
  transition: font-weight 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 3px solid transparent;
  margin-bottom: 0rem;

  &:hover, &:focus {
    /* Styles when hovered or focused for accessibility */
    font-weight: bold;

    /* Makes the text bold */
    border-bottom: 3px solid white;

    /* Visible line under the text */
    opacity: 1;
  }
}

/* CONTENT SECTION  */

.content__image {
  position: relative;
  width: 100%;

  display: block;
  opacity: 0.85;

  /* 0.5 opacity doesn't match with the wireframe for mobile/desktop temple */
  background-color: rgba(0, 0, 0, 1);

  /* Semi-transparent black */
}

.content__image-overlaytext {
  position: absolute;
  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  color: white;
  font-family: 'Avner-demi';
  padding-left: 0.5rem;
  width: 80%;

  z-index: 1;
  pointer-events: none;

  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 43.75rem;
}

.content__description {
  position: relative;

  font-size: 1.5rem;

  padding: 1.5rem;
  font-family: 'Avner-demi';
}

.content__description--title {
  padding: 1rem 0rem;
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 43.75rem;
}

.content__description--cite {
  padding: 1rem 0rem;
  line-height: 1.6; 
  margin: 1rem 0;
}

.content__description--quote {
  font-family: 'Avner-demi';
  padding: 1rem 0rem;
  line-height: 1.6; 
  margin: 1rem 0;
}

.content__description--text {
  padding: 1rem 0rem;
  font-family: 'Avner-reg';
}

.gallery-section {
  position: relative;
  background-color: #FAFAFA;
}

.gallery-section__photos {
  align-content: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.gallery-section__title {
  padding: 1rem 0rem;
  position: relative;
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 43.75rem;

  /* text-align: center; */
  font-size: 1.5rem;

  /* Large font size for the title */
  padding: 1.5rem;
  font-family: 'Avner-demi';
}

.gallery-photo {
  padding: 1rem 0rem;
}

.footer {
  position: relative;
  font-family: 'Avner-reg';
  bottom: 0;
  width: 100%;
  background-color: #323232;
  color: white;
  padding: 1rem 2rem;
  text-align: left;
}

.footer__email {
  color: white;

  text-decoration: none;


  &:hover, &:focus {
    text-decoration: none;

    color: white;

  }
}

.footer__title {
  font-family: 'Avner-demi';
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 43.75rem;
  padding: 0.5rem 0rem;
}

.footer__title--slim {
  font-family: 'Avner-reg';
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 43.75rem;
  padding: 0.5rem 0rem;
}

.footer__subheading {
  font-family: 'Avner-demi';
  font-size: 1.5rem;
  line-height: 2.75rem;
  font-weight: 43.75rem;
  padding: 0.5rem 0rem;
}

.footer__subheading--info {
  font-family: 'Avner-reg';
  font-size: 0.875rem;
  line-height: 2.75rem;
  font-weight: 43.75rem;
  padding: 0.5rem 0rem;
}

.socials_logos {
  list-style-type: none;
  padding: 1rem 0rem;

  li {
    display: inline-flex;
    margin-right: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;

  height: auto;


  &::before, &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;

    height: auto;
  }
}

/* 
css for mobile devices
*/
@media only screen and (max-width: 768px) {
  /* .header {
    text-align: center;
    background-color: #323232;
    padding: 2rem 2rem;
  } */

  /* .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #323232;
    color: white;
    padding: 2rem 1rem;
    text-align: left;
  }
  
  
  .socials_logos {
    list-style-type: none;
    padding: 15px 0px;
  }
  
  .socials_logos li {
    display: inline-flex;
    margin-right: 10px;
  } */
}
